.select {
  margin-left: 20px; 
}
.select select {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 16px;
  height: 30px;
  color: rgb(111, 112, 112);
  line-height: 30px;
}
.select select:focus {
  outline: none;
}
.select option {
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 14px;
}
